In [1]:
#3-Loading_data_from_excel_filles_01

In [3]:
import os
#os.getcwd()
os.chdir("C:\\Users\\Guestuser\\Downloads")

In [8]:
import pandas as pd
filelocation = r"C:\Users\Guestuser\Downloads\datasets\datasets\gradedata.xlsx"
df=pd.read_excel(filelocation)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                      address
0        7379 Highland Rd. , Dublin, GA 31021
1          8 Bayport St. , Honolulu, HI 96815
2           Encino, CA 91316, 3 Lilac Street
3  Riverview, FL 33569, 9998 North Smith Dr.
4   97 SE. Ocean Street , Bethlehem, PA 18015

In [9]:
# renaming the columns
df.columns = ['first','last','sex','age','excer','hrs','grd','addr']
print(df.head())

     first      last     sex  age  excer  hrs   grd  \
0   Marcia      Pugh  female   17      3   10  82.4
1   Kadeem  Morrison    male   18      4    4  78.2
2     Nash    Powell    male   18      5    9  79.3
3  Noelani    Wagner  female   14      2    7  83.2
4  Noelani    Cherry  female   18      4   15  87.4

                                         addr
0        7379 Highland Rd. , Dublin, GA 31021
1          8 Bayport St. , Honolulu, HI 96815
2           Encino, CA 91316, 3 Lilac Street
3  Riverview, FL 33569, 9998 North Smith Dr.
4   97 SE. Ocean Street , Bethlehem, PA 18015