In [2]:
# 5-Combining_data_from_multiple_excel_files_01

In [3]:
import os
os.chdir(r"C:\Users\Guestuser\Downloads")

In [8]:
import pandas as pd
import numpy as np
import glob

all_data=pd.DataFrame()

for x in glob.glob(r"C:\Users\Guestuser\Downloads\data*.xlsx"):
    df = pd.read_excel(x)
    all_data = all_data.append(df, ignore_index=True)

all_data.describe()

         Grades
count   9.00000
mean   77.00000
std    22.98369
min    35.00000
25%    76.00000
50%    78.00000
75%    95.00000
max    99.00000

In [9]:
print(all_data)

     Names  Grades
0      Bob      76
1  Jessica      95
2     Mary      77
3     John      78
4      Mel      99
5     Ravi      99
6    Geeta      89
7     Modi      35
8      Kcr      45

In [10]:
"""The above o/p will only be displayed in the editor’s screen. 
Now, to export all of the above dataframe output to an excel file:"""

'The above o/p will only be displayed in the editor’s screen. \nNow, to export all of the above dataframe output to an excel file:'

In [11]:
# combined data export

writer = pd.ExcelWriter(r"C:\Users\Guestuser\Downloads\dataframe-combined.xlsx")
all_data.to_excel(writer,sheet_name='merged')
writer.save()