In [1]:
# 6-Creating_a_df_with_random_names_and_numbers_02
# Create a dataframe called parkingtickets with 250 rows containing a name 
# and a number between 1 and 25

In [2]:
import pandas as pd
from numpy import random
from numpy.random import randint

In [4]:
vehicle = ['2 wheeler', '4 wheeler', 'bus', 'truck', 'bicycle']
tickets = []

for i in range(250):
    name = vehicle[randint(low=1, high=len(vehicle))]
    tickets.append(name)

numbers = []
for i in range(250):
    numbers.append(randint(low=1,high=25))

parkingtickets = list(zip(tickets, numbers))
df = pd.DataFrame(data=parkingtickets, columns=['Tickets', 'Numbers'])
print(df)

       Tickets  Numbers
0          bus       22
1        truck       12
2        truck       16
3          bus       20
4      bicycle       22
5      bicycle       15
6        truck        6
7      bicycle       11
8          bus        3
9    4 wheeler       16
10   4 wheeler        5
11   4 wheeler       10
12         bus       17
13     bicycle        8
14         bus        6
15     bicycle       21
16     bicycle       17
17         bus       10
18   4 wheeler        9
19       truck       10
20         bus        6
21         bus       22
22   4 wheeler       19
23     bicycle       12
24         bus        7
25   4 wheeler        2
26   4 wheeler       20
27   4 wheeler       19
28         bus       11
29       truck        6
..         ...      ...
220      truck        3
221        bus        9
222      truck       15
223      truck       13
224  4 wheeler       14
225      truck       16
226    bicycle       14
227    bicycle       18
228      truck        9
229  4 wheeler       20
230        bus        4
231  4 wheeler       17
232      truck       16
233  4 wheeler       24
234    bicycle       14
235      truck       12
236        bus        7
237        bus       18
238  4 wheeler       18
239        bus        1
240      truck        9
241    bicycle       22
242        bus       21
243      truck       24
244      truck       12
245        bus        1
246  4 wheeler       14
247        bus       14
248        bus        3
249        bus       20

[250 rows x 2 columns]