In [1]:
# 01-Aggregation-001

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                    'D' : np.random.randn(8)}) 
#print(df)
df

     A      B         C         D
0  foo    one -1.115199 -0.673422
1  bar    one  0.287236  0.583512
2  foo    two  0.187704  1.727005
3  bar  three -0.862117 -0.411008
4  foo    two -0.989610 -1.538953
5  bar    two -0.323232 -0.653121
6  foo    one  0.051462 -0.624237
7  foo  three -0.038111  1.293366

In [3]:
# Aggregation

# Once the GroupBy object has been created, several methods are available to perform
# a computation on the grouped data.

# An obvious one is aggregation via the aggregate() or equivalently agg() method.

grouped = df.groupby('A')
print(grouped.groups)

{'bar': Int64Index([1, 3, 5], dtype='int64'), 'foo': Int64Index([0, 2, 4, 6, 7], dtype='int64')}

In [4]:
print(grouped.agg(np.sum))

            C         D
A
bar -0.898112 -0.480618
foo -1.903754  0.183760

In [7]:
grouped = df.groupby(['A','B'])
print(grouped.agg(np.sum))

                  C         D
A   B
bar one    0.287236  0.583512
    three -0.862117 -0.411008
    two   -0.323232 -0.653121
foo one   -1.063737 -1.297658
    three -0.038111  1.293366
    two   -0.801907  0.188052

In [5]:
# As you can see, the result of the aggregation will have the group names as the 
# new index along the grouped axis.
# In the case of multiple keys, the result is a MultiIndex by default, 
# though this can be changed by using the as indexoption :

grouped = df.groupby(['A','B'], as_index=False)
print(grouped.agg(np.sum))

     A      B         C         D
0  bar    one  0.287236  0.583512
1  bar  three -0.862117 -0.411008
2  bar    two -0.323232 -0.653121
3  foo    one -1.063737 -1.297658
4  foo  three -0.038111  1.293366
5  foo    two -0.801907  0.188052

In [10]:
print(df.groupby('A', as_index=False).sum())

     A         C         D
0  bar -0.898112 -0.480618
1  foo -1.903754  0.183760

In [11]:
# Note that you could use the reset_index DataFrame function to achieve the same 
# result as the column names are stored in the resulting MultiIndex

print(df.groupby(['A','B']).sum().reset_index())

     A      B         C         D
0  bar    one  0.287236  0.583512
1  bar  three -0.862117 -0.411008
2  bar    two -0.323232 -0.653121
3  foo    one -1.063737 -1.297658
4  foo  three -0.038111  1.293366
5  foo    two -0.801907  0.188052

In [12]:
# Another simple aggregation example is to compute the size of each group
# This is included in GroupBy as the size method.
# It returns a series whose index are the group names and whose values are the sizes if each group

grouped = df.groupby('A')
#print(list(grouped))
#print("-----------------------------------------")
print(grouped.size())

A
bar    3
foo    5
dtype: int64

In [13]:
grouped = df.groupby(['A','B'])
print(grouped.size())

A    B
bar  one      1
     three    1
     two      1
foo  one      2
     three    1
     two      2
dtype: int64

In [15]:
print(grouped.describe())

              C                                                              \
          count      mean       std       min       25%       50%       75%
A   B
bar one     1.0  0.287236       NaN  0.287236  0.287236  0.287236  0.287236
    three   1.0 -0.862117       NaN -0.862117 -0.862117 -0.862117 -0.862117
    two     1.0 -0.323232       NaN -0.323232 -0.323232 -0.323232 -0.323232
foo one     2.0 -0.531868  0.824954 -1.115199 -0.823533 -0.531868 -0.240203
    three   1.0 -0.038111       NaN -0.038111 -0.038111 -0.038111 -0.038111
    two     2.0 -0.400953  0.832487 -0.989610 -0.695282 -0.400953 -0.106625

                        D                                                    \
                max count      mean       std       min       25%       50%
A   B
bar one    0.287236   1.0  0.583512       NaN  0.583512  0.583512  0.583512
    three -0.862117   1.0 -0.411008       NaN -0.411008 -0.411008 -0.411008
    two   -0.323232   1.0 -0.653121       NaN -0.653121 -0.653121 -0.653121
foo one    0.051462   2.0 -0.648829  0.034779 -0.673422 -0.661125 -0.648829
    three -0.038111   1.0  1.293366       NaN  1.293366  1.293366  1.293366
    two    0.187704   2.0  0.094026  2.309381 -1.538953 -0.722463  0.094026


                75%       max
A   B
bar one    0.583512  0.583512
    three -0.411008 -0.411008
    two   -0.653121 -0.653121
foo one   -0.636533 -0.624237
    three  1.293366  1.293366
    two    0.910515  1.727005

In [16]:
"""
Aggregating functions are the ones that reduce the dimension of the returned objects. Some common aggregating functions are tabulated below:
Function	Description
mean()	Compute mean of groups
sum()	Compute sum of group values
size()	Compute group sizes
count()	Compute count of group
std()	Standard deviation of groups
var()	Compute variance of groups
sem()	Standard error of the mean of groups
describe()	Generates descriptive statistics
first()	Compute first of group values
last()	Compute last of group values
nth()	Take nth value, or a subset if n is a list
min()	Compute min of group values
max()	Compute max of group values
"""

'\nAggregating functions are the ones that reduce the dimension of the returned objects. Some common aggregating functions are tabulated below:\nFunction\tDescription\nmean()\tCompute mean of groups\nsum()\tCompute sum of group values\nsize()\tCompute group sizes\ncount()\tCompute count of group\nstd()\tStandard deviation of groups\nvar()\tCompute variance of groups\nsem()\tStandard error of the mean of groups\ndescribe()\tGenerates descriptive statistics\nfirst()\tCompute first of group values\nlast()\tCompute last of group values\nnth()\tTake nth value, or a subset if n is a list\nmin()\tCompute min of group values\nmax()\tCompute max of group values\n'

In [17]:
# The aggregating functions above will exclude NA values.
# Any function which reduces a series to a scalar value is a agregation function and 
# will work, a trivial example is df.groupby('A').agg(lambda ser:1).
# Note that nth() can act as a reducer or a filter.

In [18]:
# Applying multiple functions at once
# With grouped series you can also pass a list or dict of functions to do aggregation with,
# outputting a DataFrame:
grouped = df.groupby('A')
print(grouped['C'].agg([np.sum, np.mean, np.std]))

          sum      mean       std
A
bar -0.898112 -0.299371  0.575048
foo -1.903754 -0.380751  0.619975

In [27]:
# On a grouped DataFrame, you can pass a list of functions to apply to each column,
# which produces an aggregated result with hierarchical index:
print(grouped.agg([np.sum, np.mean, np.std]))

            C                             D
          sum      mean       std       sum      mean       std
A
bar  1.411223  0.470408  1.049895  1.349271  0.449757  0.876570
foo -0.947883 -0.189577  1.030988  1.715318  0.343064  1.091461

In [28]:
# The resulting aggregations are names for the functions themselves.
# If you need to rename, then you can add in a chained operation for a Series like this:
grouped = df.groupby('A')
print(grouped['C'].agg([np.sum, np.mean, np.std])
      .rename(columns={'sum': 'foo', 'mean':'bar','std':'baz'}))

          foo       bar       baz
A
bar  1.411223  0.470408  1.049895
foo -0.947883 -0.189577  1.030988

In [29]:
# for a grouped DataFrame, you can rename in a similar manner:
print((grouped.agg([np.sum, np.mean, np.std])
       .rename(columns={'sum': 'foo', 'mean': 'bar', 'std':'baz'})))

            C                             D
          foo       bar       baz       foo       bar       baz
A
bar  1.411223  0.470408  1.049895  1.349271  0.449757  0.876570
foo -0.947883 -0.189577  1.030988  1.715318  0.343064  1.091461