In [1]:
# 02-Applying-Functions-to-DataFrame-Columns-01

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                    'D' : np.random.randn(8)}) 
#print(df)
df

     A      B         C         D
0  foo    one  2.052899  2.209114
1  bar    one  2.401854  0.196893
2  foo    two  0.505206 -0.188325
3  bar  three -0.883830 -0.419116
4  foo    two -0.053036 -0.008050
5  bar    two  2.304729 -0.313327
6  foo    one -0.927314 -0.369892
7  foo  three  0.461152 -0.139822

In [4]:
# By passing a dict to aggregate you can apply a different aggregation to 
# the columns of a DataFrame:

grouped = df.groupby('A')
print(grouped.agg({'C':np.sum, 'D':lambda x:np.std(x,ddof=1)}))

            C         D
A
bar  3.822754  0.329389
foo  2.038908  1.074740

In [5]:
# The function names can also be strings
print(grouped.agg({'C':'sum','D':'std'}))

            C         D
A
bar  3.822754  0.329389
foo  2.038908  1.074740

In [6]:
print(df.groupby('A').sum())

            C         D
A
bar  3.822754 -0.535551
foo  2.038908  1.503024

In [7]:
print(df.groupby(['A','B']).mean())

                  C         D
A   B
bar one    2.401854  0.196893
    three -0.883830 -0.419116
    two    2.304729 -0.313327
foo one    0.562793  0.919611
    three  0.461152 -0.139822
    two    0.226085 -0.098188