In [1]:
# Ex02-Binning-data-02

In [1]:
# We will recreate the dataframe from this section and create a column classifyng the row as pass or fail
# This is for a master's program that requires a grade of 8 or above for a student to pass.

In [2]:
import pandas as pd
file = r"C:\Users\Guestuser\Downloads\datasets\datasets\gradedata.csv"
df = pd.read_csv(file)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                    address
0   9253 Richardson Road, Matawan, NJ 07747
1          33 Spring Dr., Taunton, MA 02780
2          41 Hill Avenue, Mentor, OH 44060
3        8839 Marshall St., Miami, FL 33125
4  8304 Charles Rd., Lewis Center, OH 43035

In [4]:
# Create the bin dividers
bins = [0,80,100]

# Create names for the groups
group_names = ['Fail','Pass']

# Cut grades
df['pass_fail'] = pd.cut(df['grade'], bins, labels = group_names)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                    address lettergrade pass_fail
0   9253 Richardson Road, Matawan, NJ 07747        Pass      Pass
1          33 Spring Dr., Taunton, MA 02780        Fail      Fail
2          41 Hill Avenue, Mentor, OH 44060        Fail      Fail
3        8839 Marshall St., Miami, FL 33125        Pass      Pass
4  8304 Charles Rd., Lewis Center, OH 43035        Pass      Pass

In [5]:
# Count the number of observations
print(pd.value_counts(df['pass_fail']))

Pass    1212
Fail     788
Name: pass_fail, dtype: int64