In [5]:
# Ex03-Applying-Functions-to-groups-bins-and-columns-01

In [6]:
# The number reason we use Python to analyse the data is to handle datasets larger than a millin rows
# The number two reason is the ease of applying functions to my data

In [23]:
import pandas as pd
file = r"C:\Users\Guestuser\Downloads\datasets\datasets\gradedata.csv"
df = pd.read_csv(file)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                    address
0   9253 Richardson Road, Matawan, NJ 07747
1          33 Spring Dr., Taunton, MA 02780
2          41 Hill Avenue, Mentor, OH 44060
3        8839 Marshall St., Miami, FL 33125
4  8304 Charles Rd., Lewis Center, OH 43035

In [8]:
# Now the data is loaded, we need to define the bins and group names
# Define bins as 0 to 60, 60 to 70, 70 to 80, 80 to 90, 90 to 100

# Create the bin dividers
bins = [0,60,70,80,90,100]

# Create names for the four groups
group_names = ['F','D','C','B','A']

# Notice that there is one more bin value than there are group_names
# This is because there needs to be a top and bottom limit for each bin

# Cut grades
df['lettergrade'] = pd.cut(df['grade'], bins, labels = group_names)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                    address lettergrade
0   9253 Richardson Road, Matawan, NJ 07747           B
1          33 Spring Dr., Taunton, MA 02780           C
2          41 Hill Avenue, Mentor, OH 44060           C
3        8839 Marshall St., Miami, FL 33125           B
4  8304 Charles Rd., Lewis Center, OH 43035           B

In [9]:
# To find the average hours of study by lettr grade, we apply our functions to the binned column.

print(df.groupby('lettergrade')['hours'].mean())

lettergrade
F     3.933333
D     5.544041
C     8.381034
B    11.827680
A    15.305263
Name: hours, dtype: float64

In [10]:
# applying the integer function to the grade column
df['grade'] = df['grade'].apply(lambda x:int(x))
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10     82
1   Kadeem  Morrison    male   18         4      4     78
2     Nash    Powell    male   18         5      9     79
3  Noelani    Wagner  female   14         2      7     83
4  Noelani    Cherry  female   18         4     15     87

                                    address lettergrade
0   9253 Richardson Road, Matawan, NJ 07747           B
1          33 Spring Dr., Taunton, MA 02780           C
2          41 Hill Avenue, Mentor, OH 44060           C
3        8839 Marshall St., Miami, FL 33125           B
4  8304 Charles Rd., Lewis Center, OH 43035           B

In [19]:
# applying a function to a group
gender_pre_score = df['grade'].groupby(df['gender'])
print("-----------------------------------")
print(gender_pre_score.head())
print("-----------------------------------")
print(gender_pre_score.describe())
print("-----------------------------------")
print(gender_pre_score.mean())

# Here we created a grouping object.
# In other words, create an object that represents that particular grouping.
# in this case, we group grades by the gender

-----------------------------------
0    82
1    78
2    79
3    83
4    87
5    88
6    80
7    95
8    76
9    89
Name: grade, dtype: int64
-----------------------------------
         count    mean       std   min   25%   50%    75%    max
gender
female  1000.0  82.341  9.808921  32.0  75.0  82.0  89.25  100.0
male    1000.0  81.981  9.748624  43.0  75.0  83.0  89.00  100.0
-----------------------------------
gender
female    82.341
male      81.981
Name: grade, dtype: float64

In [22]:
# applying a function to a group based on another parameter
gender_pre_score = df['grade'].groupby(df['hours'])
print("-----------------------------------")
print(gender_pre_score.describe())
print("-----------------------------------")
print(gender_pre_score.mean())

-----------------------------------
       count       mean       std   min    25%    50%     75%    max
hours
0        3.0  76.333333  1.527525  75.0  75.50   76.0   77.00   78.0
1        2.0  72.500000  2.121320  71.0  71.75   72.5   73.25   74.0
2       15.0  64.866667  5.488516  57.0  61.00   63.0   69.00   77.0
3       40.0  66.000000  7.260713  43.0  60.75   66.0   72.00   76.0
4       58.0  67.741379  5.981141  58.0  62.00   68.0   72.75   78.0
5       83.0  69.975904  5.481623  60.0  66.00   70.0   75.00   82.0
6      106.0  72.594340  5.475101  61.0  68.00   73.0   77.00   83.0
7      110.0  73.609091  5.458930  62.0  70.00   73.5   77.00   85.0
8      143.0  76.027972  5.623071  66.0  72.00   75.0   80.50   88.0
9      156.0  78.173077  5.935311  68.0  73.00   79.0   83.00   90.0
10     188.0  80.500000  5.792767  69.0  76.00   80.0   85.00   92.0
11     196.0  82.688776  5.471612  71.0  78.00   83.0   87.25   95.0
12     179.0  84.435754  5.711221  73.0  80.00   84.0   89.00   95.0
13     152.0  86.559211  5.815865  75.0  82.00   87.0   91.00   98.0
14     155.0  88.716129  5.892715  76.0  84.00   88.0   94.00  100.0
15     123.0  90.788618  5.901170  80.0  85.50   91.0   96.00  100.0
16      93.0  90.365591  8.234056  32.0  87.00   90.0   95.00  100.0
17      81.0  94.049383  4.824161  83.0  91.00   95.0   99.00  100.0
18      61.0  94.360656  5.118700  85.0  90.00   95.0  100.00  100.0
19      34.0  95.911765  4.521783  87.0  92.25   98.5  100.00  100.0
20      22.0  98.636364  2.803832  92.0  99.25  100.0  100.00  100.0
-----------------------------------
hours
0     76.333333
1     72.500000
2     64.866667
3     66.000000
4     67.741379
5     69.975904
6     72.594340
7     73.609091
8     76.027972
9     78.173077
10    80.500000
11    82.688776
12    84.435754
13    86.559211
14    88.716129
15    90.788618
16    90.365591
17    94.049383
18    94.360656
19    95.911765
20    98.636364
Name: grade, dtype: float64