In [5]:
# Ex03-Applying-Functions-to-groups-bins-and-columns-02

In [1]:
# assignment
# Import the datsets/gradedata.csv and create a new binned column of the 'status'
# as either passing (>70) or failing(<=70). 
# Then, compute the mean hours of exercise of the female students with a "status" passing

In [2]:
import pandas as pd
file = r"C:\Users\Guestuser\Downloads\datasets\datasets\gradedata.csv"
df = pd.read_csv(file)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                    address
0   9253 Richardson Road, Matawan, NJ 07747
1          33 Spring Dr., Taunton, MA 02780
2          41 Hill Avenue, Mentor, OH 44060
3        8839 Marshall St., Miami, FL 33125
4  8304 Charles Rd., Lewis Center, OH 43035

In [3]:
# Now the data is loaded, we need to define the bins and group names
# Define bins as 0 to 60, 60 to 70, 70 to 80, 80 to 90, 90 to 100

# Create the bin dividers
bins = [0,70,100]

# Create names for groups
group_names = ['Fail','Pass']

# Cut grades
df['status'] = pd.cut(df['grade'], bins, labels = group_names)
print(df.head())

     fname     lname  gender  age  exercise  hours  grade  \
0   Marcia      Pugh  female   17         3     10   82.4
1   Kadeem  Morrison    male   18         4      4   78.2
2     Nash    Powell    male   18         5      9   79.3
3  Noelani    Wagner  female   14         2      7   83.2
4  Noelani    Cherry  female   18         4     15   87.4

                                    address status
0   9253 Richardson Road, Matawan, NJ 07747   Pass
1          33 Spring Dr., Taunton, MA 02780   Pass
2          41 Hill Avenue, Mentor, OH 44060   Pass
3        8839 Marshall St., Miami, FL 33125   Pass
4  8304 Charles Rd., Lewis Center, OH 43035   Pass

In [5]:
# To find the average hours of study by lettr grade, we apply our functions to the binned column.

print(df.groupby(['gender','status'])['exercise'].mean())

gender  status
female  Fail      2.585859
        Pass      3.097669
male    Fail      2.486239
        Pass      3.011223
Name: exercise, dtype: float64