In [1]:
# 003-Groupby-Grouping-DF-with-Index-levels-and-columns-001

# A DataFrame may be grouped by a combination of columns and index levels
# by specifying the coloumn names as strings and the index levels

In [1]:
# Create a series with a two-level multi index
import pandas as pd
import numpy as np

arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], 
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=['first','second'])
df = pd.DataFrame({'A':[1,1,1,1,2,2,3,3],'B':np.arange(8)}, index=index)
print(df)

              A  B
first second
bar   one     1  0
      two     1  1
baz   one     1  2
      two     1  3
foo   one     2  4
      two     2  5
qux   one     3  6
      two     3  7

In [3]:
# The following example groups df by the second index level and the A column.
print(df.groupby([pd.Grouper(level=1),'A']).sum())

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7

In [6]:
# if the MultiIndex has names specified, these can be passed instead of the level number:
print(s.groupby(level = 'second').sum())

second
one   -1.485990
two    3.236825
dtype: float64

In [7]:
# The aggregation functions such as sum will take the level parameter directly.
# Additionally, the resulting index will be named according to the chosen level:
print(s.sum(level='second'))

second
one   -1.485990
two    3.236825
dtype: float64

In [8]:
# Grouping with multiple levels is supported
print(s.groupby(level=['first','second']).sum())

first  second
bar    one      -0.825880
       two       0.963470
baz    one       0.234465
       two      -0.260631
foo    one      -0.581900
       two      -0.017743
qux    one      -0.312676
       two       2.551730
dtype: float64

In [10]:
# index level names can also be supplied as keys
print(s.groupby(['first','second']).sum())

first  second
bar    one      -0.825880
       two       0.963470
baz    one       0.234465
       two      -0.260631
foo    one      -0.581900
       two      -0.017743
qux    one      -0.312676
       two       2.551730
dtype: float64

In [5]:
# Index levels may also be specified by name
print(df.groupby([pd.Grouper(level='second'),'A']).sum())

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7

In [6]:
# Index level names may be specified as keys directly to groupby
print(df.groupby(['second','A']).sum())

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7