In [4]:
# 004-Iterating-through-groups-01

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                    'D' : np.random.randn(8)}) 
print(df)

     A      B         C         D
0  foo    one  0.140563  0.615100
1  bar    one  0.067809 -0.359467
2  foo    two  0.041681  1.687684
3  bar  three  0.691443 -0.517994
4  foo    two  0.366730  0.269011
5  bar    two  0.307185  0.480247
6  foo    one  1.565238  1.106540
7  foo  three  0.260946 -0.949180

In [7]:
grouped = df.groupby('A')
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one  0.067809 -0.359467
3  bar  three  0.691443 -0.517994
5  bar    two  0.307185  0.480247
foo
     A      B         C         D
0  foo    one  0.140563  0.615100
2  foo    two  0.041681  1.687684
4  foo    two  0.366730  0.269011
6  foo    one  1.565238  1.106540
7  foo  three  0.260946 -0.949180

In [8]:
# inthe case of grouping by multiple keys, the group name will be a tuple:

for name, group in df.groupby(['A','B']):
    print(name)
    print(group)

('bar', 'one')
     A    B         C         D
1  bar  one  0.067809 -0.359467
('bar', 'three')
     A      B         C         D
3  bar  three  0.691443 -0.517994
('bar', 'two')
     A    B         C         D
5  bar  two  0.307185  0.480247
('foo', 'one')
     A    B         C        D
0  foo  one  0.140563  0.61510
6  foo  one  1.565238  1.10654
('foo', 'three')
     A      B         C        D
7  foo  three  0.260946 -0.94918
('foo', 'two')
     A    B         C         D
2  foo  two  0.041681  1.687684
4  foo  two  0.366730  0.269011