In [2]:
# 005-Selecting-a-group-001

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                    'D' : np.random.randn(8)}) 
print(df)

     A      B         C         D
0  foo    one  1.328026 -0.385646
1  bar    one -0.195881 -1.490278
2  foo    two -1.353926  0.789706
3  bar  three  0.499990 -0.925947
4  foo    two -0.893677 -0.766171
5  bar    two -0.590911  0.483808
6  foo    one  0.472782 -1.098807
7  foo  three -0.818568 -1.019307

In [5]:
grouped = df.groupby('A')
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one -0.195881 -1.490278
3  bar  three  0.499990 -0.925947
5  bar    two -0.590911  0.483808
foo
     A      B         C         D
0  foo    one  1.328026 -0.385646
2  foo    two -1.353926  0.789706
4  foo    two -0.893677 -0.766171
6  foo    one  0.472782 -1.098807
7  foo  three -0.818568 -1.019307

In [6]:
# A single group can be selected using get_group():
print(grouped.get_group('bar'))

     A      B         C         D
1  bar    one -0.195881 -1.490278
3  bar  three  0.499990 -0.925947
5  bar    two -0.590911  0.483808

In [7]:
print(grouped.get_group('foo'))

     A      B         C         D
0  foo    one  1.328026 -0.385646
2  foo    two -1.353926  0.789706
4  foo    two -0.893677 -0.766171
6  foo    one  0.472782 -1.098807
7  foo  three -0.818568 -1.019307

In [10]:
# for an object grouped on multiple columns:
print(df.groupby(['A','B']).get_group(('bar','one')))

     A    B         C         D
1  bar  one -0.195881 -1.490278